doctype html
html(lang='zh')
    head
        title= title
        script(src='/lib/jquery-3.4.1.min.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(class="row justify-content-md-center")
            h1="中科首家線上賭場上線啦"
        div.container
            block content
