@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.left-50 {
  position: relative;
  left: -50px
}


//h1 {
//  color: #ffff85;
//}

//index
