@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font: 14px "Microsoft JhengHei", Helvetica, Arial, sans-serif;
}

.main-player {
  color: red;
}

.on-load {
  display: none;
}

.loading{
  display: none;
}

.bet-btn {
  display: none;
}

.bet-input {
  width: 70px;
  display: none;
  text-align: center;
}

.player-pocket {
  display: none;
}

.call-btn {
  display: none;
}

.stand-btn {
  display: none;
}

.continue {
  display: none;
}

.card-row-1 {
  img:nth-child(2) {
    left: calc(50% - calc(71px / 2));
  }
}

.card-row-2 {
  img:nth-child(2) {
    left: calc(50% - calc(71px / 2) - 10px);
  }

  img:nth-child(3) {
    left: calc(50% - calc(71px / 2) + 10px);
  }
}

.card-row-3 {
  img:nth-child(2) {
    left: calc(50% - calc(71px / 2) - 20px);
  }

  img:nth-child(3) {
    left: calc(50% - calc(71px / 2));
  }

  img:nth-child(4) {
    left: calc(50% - calc(71px / 2) + 20px);
  }
}

.card-row-4 {
  img:nth-child(2) {
    left: calc(50% - calc(71px / 2) - 30px);
  }

  img:nth-child(3) {
    left: calc(50% - calc(71px / 2) - 10px);
  }

  img:nth-child(4) {
    left: calc(50% - calc(71px / 2) + 10px);
  }

  img:nth-child(5) {
    left: calc(50% - calc(71px / 2) + 30px);
  }
}

.card-row-5 {
  img:nth-child(2) {
    left: calc(50% - calc(71px / 2) - 40px);
  }

  img:nth-child(3) {
    left: calc(50% - calc(71px / 2) - 20px);
  }

  img:nth-child(4) {
    left: calc(50% - calc(71px / 2));
  }

  img:nth-child(5) {
    left: calc(50% - calc(71px / 2) + 20px);
  }

  img:nth-child(6) {
    left: calc(50% - calc(71px / 2) + 40px);
  }
}

//h1 {
//  color: #ffff85;
//}

//index

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}